body{
margin:0;
background:#111827;
font-family:Poppins,sans-serif;
color:white;
}

header{
background:#2563eb;
padding:30px;
text-align:center;
}

.hero{
padding:40px;
text-align:center;
}

.btn{
display:inline-block;
background:#22c55e;
color:white;
padding:15px 30px;
border-radius:12px;
text-decoration:none;
font-weight:bold;
margin-top:20px;
transition:.3s;
}

.btn:hover{
background:#16a34a;
}

.container{
width:90%;
max-width:1200px;
margin:auto;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:15px;
margin-bottom:40px;
}

.card{
background:#1f2937;
padding:20px;
border-radius:15px;
font-weight:600;
transition:.3s;
}

.card:hover{
transform:translateY(-5px);
background:#2563eb;
}

.card span{
display:block;
margin-top:10px;
color:#4ade80;
font-size:18px;
}

.info{
background:#1f2937;
padding:20px;
border-radius:15px;
margin-bottom:20px;
}

.note{
background:#facc15;
color:black;
padding:20px;
border-radius:15px;
margin:30px 0;
}

.besar{
font-size:20px;
padding:18px 40px;
}

footer{
text-align:center;
padding:30px;
margin-top:40px;
background:#0f172a;
}
